*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background-position: center;
    animation: troca-fundo 50s infinite;
    

}

@keyframes troca-fundo {
    0%   { background-image: url("https://i.pinimg.com/736x/bd/20/17/bd2017763f932838f3f7764fde9fce18.jpg"); }
    33.33% { background-image: url("https://i.pinimg.com/1200x/a4/73/25/a473254af647f8a75a4d61175d51fb4d.jpg"); }
    66.66% { background-image: url("https://i.pinimg.com/1200x/b1/53/4a/b1534a034562f8a6a441bf4c3b8d9f8f.jpg"); }
    100%  { background-image: url("https://i.pinimg.com/736x/69/ab/ed/69abed2a605add63f337770b662ae00b.jpg"); }
  }
  @keyframes troca-obstaculo {
    0%   {image: url("../images/planta1-removebg-preview.png"); }
    33.33% {image: url("../images/cacto1-removebg-preview.png"); }
    66.66% {image: url("../images/neve1-removebg-preview.png"); }
    100%  { image: url("../images/pedra1-removebg-preview.png"); }
  }

.game-board {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        
}


.pipe {
    animation: troca-obstaculo 85s infinite;
    position: absolute;
    bottom: 0;
    width: 150px;
    animation: pipe-animation 1.5s infinite linear;

}

.jogador {

    position: absolute;
    width: 150px;
    bottom: 0px;
    
}
.jump {

    animation: jump 500ms  ease-out;
}

.nuvem {
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite linear;
}

@keyframes pipe-animation {
    from{

        right: -80px;
    }
    to {

        right: 100%;
    }
}

@keyframes jump {
    

    0% {

        bottom: 0;
    }


        40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

        60% {
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to{
        right: 100%;
    }
}